@model dynamic

<!DOCTYPE html>
<html>
<body style="font-family:Arial;">
    <h2>Xin chào @Model.Name!</h2>
    <p>Cảm ơn bạn đã đăng ký tài khoản tại <b>FastVocab.vn</b>.</p>
    <p>Nhấn vào liên kết dưới đây để xác nhận:</p>
    <a href="@Model.ConfirmUrl">Xác nhận ngay</a>
</body>
</html>